.about {
  background-color: #0a2850;
  margin: 0;
  padding: 0;
  position: relative;
}

.about__title {
  color: #ffffff;
  margin: 0;
  max-width: 251px;
  padding-left: 80px;
  padding-top: 100px;
  font-family: "Inter";
}

.about__content {
  display: flex;
  max-width: 660px;
  margin: 0;
  padding-top: 119px;
  padding-right: 80px;
  padding-bottom: 173px;
  flex-wrap: wrap;
}

.about__paragraph {
  color: #ffffff;
  margin: 0;
  padding-bottom: 20px;
}

.about__circle {
  height: 426px;
  width: 426px;
  margin: 0;
  position: absolute;
  left: -129px;
  top: -152px;
  background-color: #2f80ed;
  border-radius: 50%;
}
